{% comment "" %}<!DOCTYPE html>
<html>
  <head>
    <title>task management</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">  </head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'task-list' %}">Task Maneger</a>
        <a class="nav-link" href="{% url 'task-crete' %}">Add Task</a>
        
      </div>
    </div>
  </div>
</nav>
    <div class="container">
            {% block contant %}
            {% endblock contant %}
    </div>
</body>
</html>{% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Task Manager</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <!-- Your CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

<nav class="navbar navbar-expand-lg">

<div class="container">

<a class="navbar-brand" href="{% url 'task-list' %}">
<i class="fa-solid fa-list-check"></i>
Task Manager
</a>

<div>

<a class="nav-link d-inline" href="{% url 'task-list' %}">
Home
</a>

<a href="{% url 'task-crete' %}" class="btn btn-light ms-3">
<i class="fa-solid fa-plus"></i>
New Task
</a>

</div>

</div>

</nav>

<div class="container">
    <div class="main-card">

        {% block contant %}
        {% endblock contant %}

    </div>
</div>

</body>
</html>